src/main/resources/included/Process.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XML schema generated from EBX DMA instance [reference=StagingQueueFil] on Wed Apr 06 16:50:05 CEST 2022 by user [admin].-->
<!-- DMA instance [reference=StagingQueueFil] on Wed Apr 06 16:50:05 CEST 2022 by user [admin].-->
<!-- DMA instance [reference=StagingQueueFil] on Wed Apr 06 16:50:05 CEST 2022 by user [admin].-->
<!-- DMA instance [reference=StagingQueueFil] on Wed Apr 06 16:50:05 CEST 2022 by user [admin].-->
<!-- DMA instance [reference=StagingQueueFil] on Wed Apr 06 16:50:05 CEST 2022 by user [admin].-->
<!--XML schema generated from EBX DMA instance [reference=StagingQueueFil] on Wed Apr 06 16:50:05 CEST 2022 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:annotation>
        <xs:appinfo>
            <ebxbnd:binding targetDirectory="../jmb-commons/src/main/java">
                <javaPathConstants typeName="nl.jumbo.ebx.mdm.commons.path.StagingQueueSapPaths">
                    <nodes root="/root" prefix="" relativeToRoot="false"/>
                </javaPathConstants>
            </ebxbnd:binding>
            <osd:relationalMode>
                <dataSpace>StagingQueueSap</dataSpace>
                <dataSet>StagingQueueSap</dataSet>
                <tablesPrefix>stagingQueueSap</tablesPrefix>
            </osd:relationalMode>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="root" osd:access="--">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StagingQueueSap" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">
                            <osd:label>Staging Queue SAP</osd:label>
                        </xs:documentation>
                        <xs:appinfo>
                            <osd:table>
                                <primaryKeys>/stagingQueueSapId </primaryKeys>
                            </osd:table>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="stagingQueueSapId" type="xs:int" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>ID</osd:label>
                                    </xs:documentation>
                                    <xs:appinfo>
                                        <osd:autoIncrement/>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="stagingSapId" type="xs:int" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">
                                        <osd:label>Staging SAP ID</osd:label>
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
